@font-face {
  font-family: "Hark Transitional";
  font-style: normal;
  font-weight: 400;

  src: url("/fonts/HarkTransitional5-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "RK Mono";
  font-style: normal;
  font-weight: 400;

  src: url("/fonts/RKMono-14VF.woff2") format("woff2");
}

@font-face {
  font-family: "RK Sans";
  font-style: normal;
  font-weight: 400;

  src: url("/fonts/RKSans-17VF.woff2") format("woff2");
}

:root {
  font-family: serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 1rem;
  min-width: 320px;
  height: calc(100vh - 2rem);
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: black;
  background-color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.section {
  border-top: solid 2px #1f1f1f;
  padding-top: 10px;
}

.section-header {
  font-family: "RK Mono";
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.list-item {
  display: flex;
  align-items: baseline;
}

.list-item .count {
  font-family: "RK Mono", monospace;
  font-size: 16px;
  font-weight: bold;

  width: 20px;
  text-align: right;
  margin-right: 8px;
}

.list-item .name {
  font-family: "RK Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.guest-big {
  font-family: "Hark Transitional";
  font-size: 136px;
  line-height: 122.4px;
  max-width: 300px;
}

.week {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.week.labels {
  font-family: "RK Mono", monospace;
}

.day-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  aspect-ratio: 1;
}

.day {
  aspect-ratio: 1;
  border-radius: 50%;
  height: 8px;
  background-color: #1f1f1f;
  transition: height 0.75s ease, background-color 0.75s ease;
}

.Key {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
  display: flex;
  gap: 20px;
}

.color {
  display: flex;
  align-items: center;
  width: 40px;
  gap: 3px;
}

.color-box {
  aspect-ratio: 1;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.color-text {
  font-family: "RK Mono", monospace;
  font-size: 16px;
  font-weight: bold;
}
